
.label{
    -fx-background-color: transparent;
    -fx-font-size: 15px;
    -fx-font-family: Arial;
    -fx-alignment: center;
    -fx-min-width: 60;
    -fx-padding: 3 0 3 0;
}
#titleCiDeltaJ{
    -fx-min-width: 100%;
    -fx-alignment: center-right;
}
#titleCiDeltaJ .label{
    -fx-alignment: center-right;
}
#tableA0{
    -fx-border-color: BLACK;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}
#table{
    /*-fx-background-color: blueviolet;*/

}
#cellPivot{
    -fx-background-color: #91FDB8D2;
}
.linePivot{
    -fx-background-color: rgba(167, 243, 251, 0.82);
}
#pivot{
    -fx-background-color: rgb(169, 68, 255);
}
/*#zed{*/
/*    -fx-padding: 2px;*/
/*    -fx-background-color: #c5ff44;*/
/*}*/